/*Reset css*/
*{
    /*Emmet*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

body{
    font-size: 1.5rem;
    line-height: 1.5rem;
}

 /*Positon*/
/*Size Width height */
/*Color*/
/*Shape*/

/*1 Tu tren xuong duoi*/
/*Tu ngoai vao trong*/
/*Tong quan den chi tiet*/
.main{
}

.header{
    height: 46px;
    background-color: #000;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
}

.header__nav{
    display: inline-block;
}

.header__nav-item{
    display: inline-block;
}

.header__nav-item:hover .header__nav-item-link{
    color: #000;
    background-color: #ccc;
}

.header__nav-item-link{
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    line-height: 4.6rem;
    font-weight: 500;
    padding: 0 24px;
}

.header__nav-item-icon{
    position: relative;
    top: 1px;
    right: -3px;
    font-size:1.2rem;
}

.header__nav-item:hover .header__nav-item-sub-nav{
    display: block;
}

.header__nav-item-sub-nav{
    /*top: 100%;*/
    /*left: 0;*/
    min-width: 160px;
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.header__sub-nav-item{
    position: relative;
    display: block;
}

.header__sub-nav-item:hover .header__sub-nav-item-link{
    background-color: #ccc;
    color: #000;
}

.header__sub-nav-item-link{
    display: block;
    color: #000;
    text-decoration: none;
    line-height: 3.8rem;
    padding: 0 23px;
}

/*Search button*/
.header__search-btn{
    position: relative;
    float: right;
    line-height: 4.8rem;
    padding: 0 20px;
    cursor: pointer;
    top:  -2px;
}

.header__search-btn:hover{
    background-color:#f44336;
}

.header__search-icon{
    position: relative;
    top: 5px;
    color: #fff;
    font-size: 2rem;
}

.slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('img/chicago.jpg') top center / cover no-repeat;
}

.slider__text{
    position: absolute;
    left: 50%;
    bottom: 48px;
    color: #FFF;
    text-align: center;
    transform: translateX(-50%);

}

.slider__text-heading{
    font-size: 3rem;
    font-weight: 500;
}

.slider__text-description{
    font-size: 2.4rem;
    margin-top: 25px;
}




.content{

}

.footer{

}
