.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6433, #f53e2d )
}

.header__navbar{
    display:flex;
    justify-content: space-between;

}

.header__nav-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.header__nav-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__nav-item,
.header__nav-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}


.header__nav-item,
.header__nav-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.header__nav-item:hover,
.header__navbar-icon-link:hover,
.header__nav-item-link:hover {
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}
.header__nav-item--strong {
    font-weight: 400 ;
}

.header__nav-item--separate::after {
    content:"";
    display: block;
    position: absolute;
    width: 2px;
    height: 16px ;
    background-color: #FB9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__nav-title--nopointer {
    cursor: text;
    color: var(--white-color);
}

